<ion-card class="balance-card">
  <div class="balance-card__header">
    <div>
      <ion-text class="balance-card__title">
        {{ data.title }}
      </ion-text>

      <ion-text
        class="balance-card__value"
        [ngClass]="getModifierClass('balance-card__value', data.isPositive)">
        {{ data.value | brlCurrency }}
      </ion-text>
    </div>

    <ion-icon
      class="balance-card__icon"
      [name]="data.icon">
    </ion-icon>
  </div>

  <div class="balance-card__transactions">
    <div
      *ngFor="let item of data.items"
      class="balance-card__col">

      <div class="balance-card__transaction-header">
        <ion-icon
          class="balance-card__transaction-icon"
          [ngClass]="getModifierClass('balance-card__transaction-icon', item.isPositive)"
          [name]="item.icon">
        </ion-icon>

        <ion-text class="balance-card__transaction-title">
          {{ item.title }}
        </ion-text>
      </div>

      <ion-text
        class="balance-card__transaction-value"
        [ngClass]="getModifierClass('balance-card__value', item.isPositive)">
        {{ item.value | brlCurrency }}
      </ion-text>
    </div>
  </div>
</ion-card>
