<header class="container">

  <div class="user">
    <h1 class="textUser">Lucas Santos</h1>
    <ion-icon name="person-circle-outline" class="iconUser" />
  </div>

</header>

<div class="display">

  <div class="coluna saldo" *ngIf="obterSaldo()">

    <ion-text class="title">Saldo</ion-text>

    <ion-row class="valor">
      <ion-text style="font-size: 1rem;">R$</ion-text>
      <ion-text class="saldoTexto">{{saldo > 0 ? (saldo - gastos).toFixed(2) : 0}}</ion-text>
    </ion-row>

  </div>

  <div class="coluna gastos" *ngIf="obterGastos()">

    <ion-text class="title">Gastos</ion-text>

    <ion-row class="valor">
      <ion-text style="font-size: 1rem;">R$</ion-text>
      <ion-text class="gastosTexto">{{(gastos).toFixed(2)}}</ion-text>
    </ion-row>

  </div>

</div>

<div class="button">
  <app-cadastro />
</div>