* {
    margin: 0;
    padding: 0;
}

.container {
    height: 120px;
    background: #141A26;
}

.display {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
    width: 90%;
    padding: 15px 25px;
    background: #f7f7f7;
    margin-bottom: 10px;
}

.coluna {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    background: transparent;
}

.saldo {
    color: #000;
    margin-right: 2px;
}

.saldoTexto {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #009e00;
}

.gastos {
    color: #000;
}

.gastosTexto {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #ff0000;
}

.title {
    font-size: 1.4rem;
}

.valor {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.button {
    margin: 0 auto;
    margin-top: 5px;
    width: 90%;
    height: 50px;
    --border-radius: 2px;
    --box-shadow: 0;
}