<header class="container"></header>

<div class="display">

  <div class="coluna saldo">

    <ion-text class="title">Saldo</ion-text>

    <ion-row class="valor">
      <ion-text style="font-size: 1rem;">R$</ion-text>
      <ion-text class="saldoTexto">0</ion-text>
    </ion-row>

  </div>

  <div class="coluna gastos">

    <ion-text class="title">Gastos</ion-text>

    <ion-row class="valor">
      <ion-text style="font-size: 1rem;">R$</ion-text>
      <ion-text class="gastosTexto">0</ion-text>
    </ion-row>

  </div>

</div>

<ion-button expand="block" class="button">Adicionar Movimentação</ion-button>