<header class="container">

  <div class="user">
    <h1 class="textUser">Lucas Santos</h1>
    <ion-icon name="person-circle-outline" class="iconUser" />
  </div>

</header>

<div class="display">

  <div class="coluna saldo">

    <ion-text class="title">Saldo</ion-text>

    <ion-row class="valor">
      <ion-text style="font-size: 1rem;">R$</ion-text>
      <ion-text class="saldoTexto">{{obterSaldo()}}</ion-text>
    </ion-row>

  </div>

  <div class="coluna gastos">

    <ion-text class="title">Gastos</ion-text>

    <ion-row class="valor">
      <ion-text style="font-size: 1rem;">R$</ion-text>
      <ion-text class="gastosTexto">{{obterGastos()}}</ion-text>
    </ion-row>

  </div>

</div>

<div class="button">
  <app-cadastro />
</div>