.advanced-filter {
  @apply p-5 h-full flex flex-col justify-center items-center bg-white;
}

.advanced-filter__header {
  @apply w-full py-5 flex items-center justify-between;
}

.advanced-filter__title {
  @apply text-2xl text-black font-bold m-0;
}

.advanced-filter__close-button {
  --padding: 0;
  --box-shadow: 0;
  --background: transparent;
}

.advanced-filter__close-icon {
  @apply text-black;
}

.advanced-filter__row {
  @apply w-full flex gap-2.5;
}

.advanced-filter__field {
  @apply w-full;
}

.advanced-filter__label {
  @apply text-black;
}

.advanced-filter__control {
  @apply text-black w-full py-0.5 mt-1
  border border-gray-400 rounded-md
  outline-none transition-all duration-300
  ps-3 focus:border-[#5856D6];
}

.advanced-filter__control--select {
  --padding: 0;
}

.advanced-filter__control--select::part(icon) {
  @apply absolute end-2;
}

.advanced-filter__actions {
  @apply w-full mt-4;
}

.advanced-filter__button {
  @apply w-full h-[48px] rounded-md;
  --box-shadow: 0;
  --background-activated: transparent;
}

.advanced-filter__button--apply {
  --background: #5856D6;
}

.advanced-filter__button--clean {
  @apply text-[#5856D6] border border-[#5856D6];
  --background: transparent;
}
