<form [formGroup]="advancedFilterForm" class="advanced-filter">
  <header class="advanced-filter__header">
    <h1 class="advanced-filter__title">
      Filtros Avançados
    </h1>

    <ion-button
      class="advanced-filter__close-button"
      (click)="dismiss()"
    >
      <lucide-angular
        [size]="30"
        [name]="closeIcon"
        class="advanced-filter__close-icon"
      ></lucide-angular>
    </ion-button>
  </header>

  <ion-row class="advanced-filter__row">
    <ion-col class="advanced-filter__field">
      <ion-label class="advanced-filter__label">Mês</ion-label>
      <ion-select
        mode="ios"
        formControlName="month"
        placeholder="Selecione"
        class="advanced-filter__control advanced-filter__control--select"
      >
        <ion-select-option [value]="null">Todos os Meses</ion-select-option>
        <ion-select-option
          *ngFor="let month of months"
          [value]="month.value"
        >
          {{ month.label }}
        </ion-select-option>
      </ion-select>
    </ion-col>

    <ion-col class="advanced-filter__field">
      <ion-label class="advanced-filter__label">Ano</ion-label>
      <ion-select
        mode="ios"
        formControlName="year"
        placeholder="Selecione"
        class="advanced-filter__control advanced-filter__control--select"
      >
        <ion-select-option [value]="null">Todos os Anos</ion-select-option>
        <ion-select-option
          *ngFor="let year of years"
          [value]="year"
        >
          {{ year }}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row class="advanced-filter__row">
    <ion-col class="advanced-filter__field">
      <ion-label class="advanced-filter__label">Tipo</ion-label>
      <ion-select
        mode="ios"
        formControlName="type"
        placeholder="Selecione"
        class="advanced-filter__control advanced-filter__control--select"
      >
        <ion-select-option [value]="null">Todos os Tipos</ion-select-option>
        <ion-select-option
          *ngFor="let type of types"
          [value]="type.value"
        >
          {{ type.label }}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row class="advanced-filter__row">
    <ion-col class="advanced-filter__field">
      <ion-label class="advanced-filter__label">Categoria</ion-label>
      <ion-select
        mode="ios"
        formControlName="category"
        placeholder="Selecione"
        class="advanced-filter__control advanced-filter__control--select"
      >
        <ion-select-option [value]="null">Todas as Categorias</ion-select-option>
        <ion-select-option
          *ngFor="let category of categories"
          [value]="category.value"
        >
          {{ category.label }}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row class="advanced-filter__row">
    <ion-col class="advanced-filter__field">
      <ion-label class="advanced-filter__label">Método de Pagamento</ion-label>
      <ion-select
        mode="ios"
        formControlName="paymentMethod"
        placeholder="Selecione"
        class="advanced-filter__control advanced-filter__control--select"
      >
        <ion-select-option [value]="null">Todos os Métodos</ion-select-option>
        <ion-select-option
          *ngFor="let paymentMethod of paymentMethods"
          [value]="paymentMethod.value"
        >
          {{ paymentMethod.label }}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row class="advanced-filter__actions">
    <ion-col>
      <ion-button
        expand="block"
        class="advanced-filter__button advanced-filter__button--clean"
        (click)="clearFilters()"
      >
        Limpar
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button
        expand="block"
        class="advanced-filter__button advanced-filter__button--apply"
        (click)="onApplyFilters()"
      >
        Filtrar
      </ion-button>
    </ion-col>
  </ion-row>
</form>
