<ion-content [fullscreen]="true">
  <div class="px-4 py-2">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-balance-header [data]="balanceData"></app-balance-header>

    <ion-button
      expand="block"
      (click)="onAddTransaction()"
      class="new-transaction-button"
    >
      Nova Movimentação
    </ion-button>

    <!-- <app-filter-bar
      [enableAdvancedFilter]="true"
      (search)="onSearch($event)"
      (filterApplied)="onFilterApplied($event)"
    ></app-filter-bar>

    <div
      class="container"
      *ngIf="!isLoading && transactionsData.length === 0"
    >
      <span>Nenhuma transação encontrada.</span>
    </div>

    <app-transaction-list
      [isLoading]="isLoading"
      (updated)="loadTransactions()"
      [transactions]="transactionsData"
      *ngIf="transactionsData.length > 0 || isLoading"
    /> -->
  </div>
</ion-content>
