<main class="main-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal-container">
      <header class="modal-header">
        <h1 class="header-title">{{ headerTitle }}</h1>
        <ion-button class="header-button" (click)="dismiss()">
          <ion-icon class="header-button-icon" name="close"></ion-icon>
        </ion-button>
      </header>

      <div class="modal-inputs">
        <div class="form-group title-group">
          <label for="title" class="label-style">Título</label>
          <input
            name="title"
            type="text"
            class="input-style"
            formControlName="title"
            placeholder="Título da Movimentação"
          >
        </div>

        <ion-row class="row-group">
          <ion-col class="form-group">
            <label for="type" class="label-style">Tipo</label>
            <ion-select
              mode="ios"
              name="type"
              class="input-style input-select"
              okText="Aceitar"
              cancelText="Cancelar"
              placeholder="Selecione"
              formControlName="type"
            >
              <ion-select-option
                *ngFor="let item of typeOptions"
                [value]="item.value"
              >
                {{ item.label }}
              </ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col class="form-group">
            <label for="price" class="label-style">Valor</label>
            <input
              min="0"
              name="price"
              type="number"
              placeholder="0,00"
              class="input-style"
              formControlName="price"
              (keydown)="blockNegativeInput($event)"
            >
          </ion-col>
        </ion-row>

        <ion-row class="row-group">
          <ion-col class="form-group">
            <label for="category" class="label-style">Categoria</label>
            <ion-select
              mode="ios"
              name="category"
              okText="Aceitar"
              cancelText="Cancelar"
              placeholder="Selecione"
              formControlName="category"
              class="input-style input-select"
            >
              <ion-select-option
                *ngFor="let item of categoryOptions"
                [value]="item.value"
              >
                {{ item.label }}
              </ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col class="form-group">
            <label class="label-style">Data</label>
            <ion-button
              class="input-style transparent-button"
              (click)="openDatepicker()"
            >
              {{ formattedDate }}
            </ion-button>

            <ion-modal
              [isOpen]="isDateModalOpen"
              (didDismiss)="isDateModalOpen = false"
            >
              <ng-template>
                <div class="date-modal">
                  <ion-datetime
                    mode="ios"
                    locale="pt-BR"
                    presentation="date"
                    [value]="selectedDate"
                    (ionChange)="onDateChange($event)"
                  ></ion-datetime>
                </div>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>

        <ion-row class="row-group">
          <ion-col class="form-group">
            <label for="payment-method" class="label-style">Método de Pagamento</label>
            <ion-select
              mode="ios"
              name="payment-method"
              okText="Aceitar"
              cancelText="Cancelar"
              placeholder="Selecione"
              formControlName="paymentMethod"
              class="input-style input-select"
            >
              <ion-select-option
                *ngFor="let item of paymentOptions"
                [value]="item.value"
              >
                {{ item.label }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <ion-row class="row-group" *ngIf="showCreditCardSelect">
          <ion-col class="form-group">
            <label for="creditCard" class="label-style">Cartões</label>
            <ion-select
              mode="ios"
              name="creditCard"
              okText="Aceitar"
              cancelText="Cancelar"
              placeholder="Selecione"
              formControlName="creditCard"
              class="input-style input-select"
            >
              <ion-select-option
                *ngFor="let item of creditCards"
                [value]="item.id"
              >
                {{ item.title }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </div>

      <div class="action-buttons">
        <ion-button
          (click)="dismiss()"
          class="action-button-style cancel-button"
        >
          Cancelar
        </ion-button>

        <ion-button
          type="submit"
          class="action-button-style add-button"
        >
          Adicionar
        </ion-button>
      </div>
    </div>
  </form>
</main>
