<main class="container">

  <div class="form">

    <h1 class="tituloForm">Editar Movimentação</h1>

    <ion-input type="text" placeholder="Titulo" class="input tituloEdicao" [(ngModel)]="titulo" />

    <ion-button class="input dateEdicao" (click)="selecionarData()">{{data}}</ion-button>

    <ion-modal [isOpen]="modalDate">
      <ng-template>
        <div class="modalData">
          <div class="calendario">

            <ion-datetime id="datetime" presentation="date" [(ngModel)]="dataAtual" />

            <div class="botoes">
              <ion-button (click)="modalData(false)">Cancelar</ion-button>
              <ion-button (click)="salvarData()">Salvar</ion-button>
            </div>
          </div>


        </div>
      </ng-template>
    </ion-modal>

    <ion-input type="number" placeholder="R$" class="input valorEdicao" [(ngModel)]="valor" />

    <ion-select justify="space-between" placeholder="Escolha uma opção" interface="popover" class="input tipoEdicao"
      toggleIcon="false" [(ngModel)]="tipo" color="warning">

      <ion-select-option value="1">Saída</ion-select-option>
      <ion-select-option value="2">Entrada</ion-select-option>
    </ion-select>

    <ion-button class="button editar" (click)="salvarEdicao()">Editar</ion-button>
    <ion-button class="button cancelar" (click)="cancelar()">Cancelar</ion-button>

  </div>

</main>