<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/resumo" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Resumo de Janeiro</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="lista">

    <div class="display">

      <div class="coluna saldo" *ngIf="obterSaldo()">

        <ion-text class="title">Ganhos</ion-text>

        <ion-row class="valor">
          <ion-text style="font-size: 1rem;">R$</ion-text>
          <ion-text class="saldoTexto">{{saldo > 0 ? (saldo).toFixed(2) : 0}}</ion-text>
        </ion-row>

      </div>

      <div class="coluna gastos" *ngIf="obterGastos()">

        <ion-text class="title">Gastos</ion-text>

        <ion-row class="valor">
          <ion-text style="font-size: 1rem;">R$</ion-text>
          <ion-text class="gastosTexto">{{(gastos).toFixed(2)}}</ion-text>
        </ion-row>

      </div>

    </div>

    <div *ngIf="movimentacoes.length; else nenhumaMovimentacao">

      <h3 class="titulo">Histórico</h3>

      <ion-searchbar class="searchBar" placeholder="Buscar movimentação" [(ngModel)]="search"
        (ionInput)="searchInput($event)" />

    </div>

    <ion-list>

      <ion-item class="itemLista" *ngFor="let movimentacao of movimentacoes; let i = index;">

        <ion-label class="textoEvento">

          <p class="data">{{ movimentacao.data }}</p>
          <div class="movimentacao">
            <p class="title">{{ movimentacao.titulo }}</p>
            <p class="valor" [style.color]="
            (movimentacao.tipo == 1 && movimentacao.categoria == 1) ||
            (movimentacao.tipo == 1 && movimentacao.categoria == 2) ||
            (movimentacao.tipo == 1 && movimentacao.categoria == 3) ? '#e74c3c' :
            (movimentacao.tipo == 2 && movimentacao.categoria == 1) ? '#024060' :
            (movimentacao.tipo == 2 && movimentacao.categoria == 2) ? '#E48200' :
            (movimentacao.tipo == 2 && movimentacao.categoria == 3) ? '#2ecc71' : ''
          ">
              {{ movimentacao.tipo == 1 ? '-R$ ' : 'R$ ' }}{{ movimentacao.valor }}
            </p>
          </div>

        </ion-label>

      </ion-item>

    </ion-list>

  </div>

  <ng-template #nenhumaMovimentacao>

    <h3 class="titulo semMovimentacoes">
      Nenhuma Movimentação Recente
    </h3>

  </ng-template>

</ion-content>