.lista {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: #e5e5e5;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 200px;
    background: transparent;
}

.card ion-icon {
    position: absolute;
    color: #141A26;
    font-size: 3rem;
    z-index: 9;
}

.card ion-input {
    position: absolute;
    opacity: 0;
}

.card ion-img {
    width: 100%;
    border-radius: 12px;
}

.titulo {
    margin-top: 20px;
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
}

.semMovimentacoes {
    font-size: 1rem;
    text-align: center;
    margin-top: 180px;
}

.searchBar {
    margin-top: -10px;
    color: #000;
    padding-left: 0;
    padding-right: 0;
    --box-shadow: none;
    --border-radius: 40px;
    --background: #fff;
}

ion-list {
    background: transparent;
}

.itemLista {
    width: 100%;
    margin-bottom: 6px;
    --border-color: transparent;
    --border-radius: 0px;
    --background: #f7f7f7;
}

.textoEvento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.data {
    font-size: .9rem;
    margin-bottom: 8px;
}

.movimentacao {
    display: flex;
    justify-content: space-between;
}

.title {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    text-align: justify;
}

.valor {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    text-align: justify;
}