<div class="lista">

  <div class="card">

    <!-- <ion-icon name="add-circle-outline" /> -->
    <ion-img [src]="imagem" alt="Image" />

    <!-- <ion-input type="file" /> -->

  </div>

  <div class="display">

    <div class="coluna saldo">

      <ion-text class="title">Saldo</ion-text>

      <ion-row class="valor">
        <ion-text style="font-size: 1rem;">R$ </ion-text>
        <ion-text class="saldoTexto">{{saldo - gastos}}</ion-text>
      </ion-row>

    </div>

    <div class="coluna gastos" *ngIf="obterGastos()">

      <ion-text class="title">Gastos</ion-text>

      <ion-row class="valor">
        <ion-text style="font-size: 1rem;">R$</ion-text>
        <ion-text class="gastosTexto">{{gastos}}</ion-text>
      </ion-row>

    </div>

  </div>

  <div *ngIf="movimentacoes.length; else nenhumaMovimentacao">

    <h3 class="titulo">Histórico</h3>

    <ion-searchbar class="searchBar" placeholder="Buscar movimentação" [(ngModel)]="search"
      (ionInput)="searchInput($event)" />

  </div>

  <ion-list>

    <div *ngFor="let movimentacao of movimentacoes; let i = index;">

      <ion-item class="itemLista" *ngIf="movimentacao.categoria == 1; else nenhumaMovimentacao">

        <ion-label class="textoEvento">
          <p class="data">{{ movimentacao.data }}</p>
          <div class="movimentacao">
            <p class="title">{{ movimentacao.titulo }}</p>
            <p class="valor" [style.color]="movimentacao.tipo == 1 ? '#e74c3c' : '#2ecc71'">
              {{ movimentacao.tipo == 1 ? '-R$ ' : 'R$ ' }}{{ movimentacao.valor }}
            </p>
          </div>
        </ion-label>

      </ion-item>

    </div>

  </ion-list>

</div>

<ng-template #nenhumaMovimentacao>

  <h3 class="titulo semMovimentacoes">
    Nenhuma Movimentação Recente
  </h3>

</ng-template>