<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Início
    </ion-tab-button>

    <ion-tab-button tab="cartoes">
      <ion-icon name="card-outline"></ion-icon>
      Cartões
    </ion-tab-button>

    <ion-tab-button tab="investimentos">
      <ion-icon name="stats-chart-outline"></ion-icon>
      Investimentos
    </ion-tab-button>

    <ion-tab-button tab="resumo">
      <ion-icon name="cellular-outline"></ion-icon>
      Resumo
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>