<ion-content>

  <ion-list>

    <ion-item class="ion-no-padding" [button]="true">
      <ion-label class="ion-padding">Janeiro</ion-label>
      <ion-icon name="chevron-forward-outline" />
    </ion-item>

    <ion-item class="ion-no-padding" [button]="true">
      <ion-label class="ion-padding">Fevereiro</ion-label>
      <ion-icon name="chevron-forward-outline" />
    </ion-item>

    <ion-item class="ion-no-padding" [button]="true">
      <ion-label class="ion-padding">Março</ion-label>
      <ion-icon name="chevron-forward-outline" />
    </ion-item>

    <ion-item class="ion-no-padding" [button]="true">
      <ion-label class="ion-padding">Abril</ion-label>
      <ion-icon name="chevron-forward-outline" />
    </ion-item>

    <ion-item class="ion-no-padding" [button]="true">
      <ion-label class="ion-padding">Maio</ion-label>
      <ion-icon name="chevron-forward-outline" />
    </ion-item>

    <ion-item class="ion-no-padding" [button]="true">
      <ion-label class="ion-padding">Junho</ion-label>
      <ion-icon name="chevron-forward-outline" />
    </ion-item>

    <ion-item class="ion-no-padding" [button]="true">
      <ion-label class="ion-padding">Julho</ion-label>
      <ion-icon name="chevron-forward-outline" />
    </ion-item>

    <ion-item class="ion-no-padding" [button]="true">
      <ion-label class="ion-padding">Agosto</ion-label>
      <ion-icon name="chevron-forward-outline" />
    </ion-item>

    <ion-item class="ion-no-padding" [button]="true">
      <ion-label class="ion-padding">Setembro</ion-label>
      <ion-icon name="chevron-forward-outline" />
    </ion-item>

    <ion-item class="ion-no-padding" [button]="true">
      <ion-label class="ion-padding">Outubro</ion-label>
      <ion-icon name="chevron-forward-outline" />
    </ion-item>

    <ion-item class="ion-no-padding" [button]="true">
      <ion-label class="ion-padding">Novembro</ion-label>
      <ion-icon name="chevron-forward-outline" />
    </ion-item>

    <ion-item class="ion-no-padding" [button]="true">
      <ion-label class="ion-padding">Dezembro</ion-label>
      <ion-icon name="chevron-forward-outline" />
    </ion-item>

  </ion-list>

</ion-content>