ion-list {
    height: 100vh;
    background: #f1f1f1;
}

ion-item {
    color: #000;
    margin-bottom: 8px;
    font-size: 1.1rem;
    --border-width: 0;
    --color-hover: #000;
    --background: #ddd;
    --border-color: transparent;
}

ion-icon {
    color: #000;
}