<main class="container">

  <div class="form">

    <h1 class="tituloForm">Nova Movimentação</h1>

    <ion-input type="text" placeholder="Titulo" class="input titulo" />

    <ion-button class="input date" (click)="selecionarData()">dd/mm/yyyy</ion-button>

    <ion-modal [isOpen]="modalDate">
      <ng-template>
        <div class="modalData">
          <div class="calendario">

            <ion-datetime id="datetime" presentation="date" [(ngModel)]="dataAtual" />

            <div class="botoes">
              <ion-button (click)="modalData(false)">Cancelar</ion-button>
              <ion-button (click)="salvarData()">Salvar</ion-button>
            </div>
          </div>


        </div>
      </ng-template>
    </ion-modal>

    <ion-input type="number" label="R$" class="input valor" />

    <ion-select justify="space-between" placeholder="Escolha uma opção" interface="popover" class="input tipo"
      toggleIcon="false">
      <ion-select-option value="1">Saída</ion-select-option>
      <ion-select-option value="2">Entrada</ion-select-option>
    </ion-select>

  </div>

</main>