.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    padding: 20px;
    background-color: whitesmoke;
}

.titulo {
    background: steelblue;
}

.date {
    width: 100%;
    text-transform: lowercase;
    font-size: 1.1rem;
    font-weight: normal;
    margin-top: 17px;
    height: 46px;
    margin-bottom: 18px;
    --border-radius: 0;
    --box-shadow: 0;
    // --background: transparent;
}

.modalData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e5e5e5;
}

.calendario {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    border-radius: 4px;
    background-color: #fff;
}

ion-datetime {
    color: #000;
    --background: transparent;
    --title-color: #fff --wheel-fade-background-rgb: transparent;
    --wheel-highlight-background: transparent;
}

.botoes {
    display: flex;
    justify-content: space-around;
    background: transparent;
}

.botoes ion-button {
    width: 140px;
    height: 50px;
    color: #000;
    font-weight: bold;
    --box-shadow: none;
    --border-radius: 2px;
    --background: transparent;
}
.valor {
    background: steelblue;
}

.tipo {
    width: 100%;
    margin-top: 20px;
    background: steelblue;
}

ion-select-option {
    width: 100%;
}