<ion-button expand="block" class="buttonModal" (click)="setOpen(true)">
  Adicionar Movimentação
</ion-button>

<ion-modal [isOpen]="modal">

  <ng-template>

    <main class="container">

      <div class="form">

        <h1 class="tituloForm">Nova Movimentação</h1>

        <ion-input type="text" placeholder="Titulo" class="input titulo" [(ngModel)]="titulo" />

        <ion-button class="input date" (click)="selecionarData()">{{data}}</ion-button>

        <ion-modal [isOpen]="modalDate">
          <ng-template>
            <div class="modalData">
              <div class="calendario">

                <ion-datetime id="datetime" presentation="date" [(ngModel)]="dataAtual" />

                <div class="botoes">
                  <ion-button (click)="modalData(false)">Cancelar</ion-button>
                  <ion-button (click)="salvarData()">Salvar</ion-button>
                </div>
              </div>


            </div>
          </ng-template>
        </ion-modal>

        <ion-input type="number" placeholder="R$" class="input valor" [(ngModel)]="valor" />

        <ion-select justify="space-between" placeholder="Escolha uma opção" interface="popover" class="input tipo"
          toggleIcon="false" [(ngModel)]="tipo" interface-options="background: none">

          <ion-select-option value="1">Saída</ion-select-option>
          <ion-select-option value="2">Entrada</ion-select-option>
        </ion-select>

        <ion-select justify="space-between" placeholder="Categoria" interface="popover" class="input tipo"
          toggleIcon="false" [(ngModel)]="categoria" interface-options="background: none">

          <ion-select-option value="1">Cartões</ion-select-option>
          <ion-select-option value="2">Investimentos</ion-select-option>
          <ion-select-option value="3">Outros</ion-select-option>
        </ion-select>

        <ion-button class="button adicionar" (click)="cadastrar()">Adicionar</ion-button>
        <ion-button class="button cancelar" (click)="cancelar()">Cancelar</ion-button>

      </div>

    </main>

  </ng-template>

</ion-modal>