<ion-content [fullscreen]="true">
  <app-card-header
    [balanceTitle]="balanceTitle"
    [balanceValue]="balanceValue"
    [firstTitle]="firstTitle"
    [firstValue]="firstValue"
    [firstValuePositive]="firstValuePositive"
    [secondTitle]="secondTitle"
    [secondValue]="secondValue"
    [secondValuePositive]="secondValuePositive"
  ></app-card-header>

  <ion-button expand="block" class="new-transaction-button" (click)="showModal()">
    Adicionar Movimentação
  </ion-button>

  <app-filter-bar [enableAdvancedFilter]="true"></app-filter-bar>

  <app-lista />
</ion-content>
