<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-balance-header
    [balanceTitle]="balanceTitle"
    [balanceValue]="balanceValue"
    [balanceIcon]="balanceIcon"
    [firstTitle]="firstTitle"
    [firstValue]="firstValue"
    [firstValuePositive]="firstValuePositive"
    [secondTitle]="secondTitle"
    [secondValue]="secondValue"
    [secondValuePositive]="secondValuePositive"
  ></app-balance-header>

  <ion-button
    expand="block"
    (click)="onAddTransaction()"
    class="new-transaction-button"
  >
    Adicionar Movimentação
  </ion-button>

  <app-filter-bar
    [enableAdvancedFilter]="true"
    (search)="onSearch($event)"
    (filterApplied)="onFilterApplied($event)"
  ></app-filter-bar>

  <div class="container" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <div
    class="container"
    *ngIf="!isLoading && transactionsData.length === 0"
  >
    <span>Nenhuma transação encontrada.</span>
  </div>

  <app-transaction-list
    (updated)="loadTransactions()"
    [transactions]="transactionsData"
    *ngIf="!isLoading && transactionsData.length > 0"
  />
</ion-content>
