<ion-content [fullscreen]="true">
  <app-balance-header
    [balanceTitle]="balanceTitle"
    [balanceValue]="balanceValue"
    [balanceIcon]="balanceIcon"
    [firstTitle]="firstTitle"
    [firstValue]="firstValue"
    [firstValuePositive]="firstValuePositive"
    [secondTitle]="secondTitle"
    [secondValue]="secondValue"
    [secondValuePositive]="secondValuePositive"
  ></app-balance-header>

  <ion-button
    expand="block"
    (click)="showModal()"
    class="new-transaction-button"
  >
    Adicionar Movimentação
  </ion-button>

  <app-filter-bar
    [enableAdvancedFilter]="true"
  ></app-filter-bar>

  <app-transaction-list />
</ion-content>
