<ion-segment [scrollable]="true" value="0">

  <ion-segment-button value="0">
    <ion-icon name="home"
      style="color: #fff;font-size: 2.8rem; background: steelblue; aspect-ratio: 1/1; border-radius: 100%; padding: 20px;"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="1">
    <ion-icon name="home"
      style="color: #fff;font-size: 2.8rem; background: steelblue; aspect-ratio: 1/1; border-radius: 100%; padding: 20px;"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="2">
    <ion-icon name="home"
      style="color: #fff;font-size: 2.8rem; background: steelblue; aspect-ratio: 1/1; border-radius: 100%; padding: 20px;"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="3">
    <ion-icon name="home"
      style="color: #fff;font-size: 2.8rem; background: steelblue; aspect-ratio: 1/1; border-radius: 100%; padding: 20px;"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="4">
    <ion-icon name="home"
      style="color: #fff;font-size: 2.8rem; background: steelblue; aspect-ratio: 1/1; border-radius: 100%; padding: 20px;"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="5">
    <ion-icon name="home"
      style="color: #fff;font-size: 2.8rem; background: steelblue; aspect-ratio: 1/1; border-radius: 100%; padding: 20px;"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="6">
    <ion-icon name="home"
      style="color: #fff;font-size: 2.8rem; background: steelblue; aspect-ratio: 1/1; border-radius: 100%; padding: 20px;"></ion-icon>
  </ion-segment-button>

  <ion-segment-button value="7">
    <ion-icon name="home"
      style="color: #fff;font-size: 2.8rem; background: steelblue; aspect-ratio: 1/1; border-radius: 100%; padding: 20px;"></ion-icon>
  </ion-segment-button>

</ion-segment>