<ion-content [fullscreen]="true">
  <header class="header">
    <div>
      <h1 class="header-title">Meus Cartões</h1>
      <span class="header-description">Gerencie cartões e gastos</span>
    </div>
    <ion-button
      fill="outline"
      class="header-button"
      (click)="onAddTransaction()"
    >
      <ion-icon class="button-icon" name="add"></ion-icon>
      <span class="button-label">Compra</span>
    </ion-button>
  </header>

  <app-cards-carousel></app-cards-carousel>

  <app-filter-bar></app-filter-bar>

  <div class="container" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <div class="container" *ngIf="cardTransactions.length === 0 && !isLoading">
    <span>Nenhuma transação encontrada.</span>
  </div>

  <app-transaction-list
    *ngIf="cardTransactions.length > 0 && !isLoading"
    [transactions]="cardTransactions"
    (updated)="loadCardTransactions()"
  ></app-transaction-list>
</ion-content>
