<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <header class="header">
    <div>
      <h1 class="header-title">Meus Cartões</h1>
      <span class="header-description">Gerencie cartões e gastos</span>
    </div>
    <ion-button
      fill="outline"
      class="header-button"
      (click)="onAddTransaction()"
    >
      <ion-icon class="button-icon" name="add"></ion-icon>
      <span class="button-label">Compra</span>
    </ion-button>
  </header>

  <app-cards-carousel
    [isLoading]="isLoading"
  ></app-cards-carousel>
  
  <app-filter-bar></app-filter-bar>

  <div class="container" *ngIf="cardTransactions.length === 0 && !isLoading">
    <span>Nenhuma transação encontrada.</span>
  </div>

  <app-transaction-list
    [isLoading]="isLoading"
    [transactions]="cardTransactions"
    (updated)="loadCardTransactions()"
    *ngIf="cardTransactions.length > 0 || isLoading"
  ></app-transaction-list>
</ion-content>
