<ion-list lines="none">
  <ng-container *ngIf="isLoading && transactions.length === 0">
    <ion-item *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]" class="transaction-item skeleton"> <ion-label>
        <ion-row class="top-row">
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-row>

        <ion-row class="main-row">
          <div class="icon-col">
            <ion-skeleton-text animated></ion-skeleton-text>
          </div>

          <ion-col class="main-col">
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-col>

          <ion-col class="price-col">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ng-container>

  <ng-container *ngIf="!isLoading && transactions.length > 0">
    <ion-item-sliding
      class="transaction-item"
      *ngFor="let item of transactions"
      #slidingItem
    >
      <ion-item class="item-content">
        <ion-label>
          <ion-row class="top-row">
            <ion-badge class="badge-style">
              {{ getCategoryLabel(item.category) }}
            </ion-badge>
            <ion-badge class="badge-style payment-badge">
              {{ getPaymentMethodLabel(item.paymentMethod) }}
            </ion-badge>
          </ion-row>

          <ion-row class="main-row">
            <div class="icon-col">
              <ion-icon
                class="type-icon"
                name="arrow-up-circle"
                [ngClass]="item.type === 'entry' ? 'entry-icon' : 'withdrawal-icon'"
              ></ion-icon>
            </div>

            <ion-col class="main-col">
              <span class="date">{{ item.date | date:'dd/MM/yyyy' }}</span>
              <span class="main-title">{{ item.title }}</span>
            </ion-col>

            <ion-col class="price-col">
              <span
                class="main-title"
                [ngClass]="item.type === 'entry' ? 'entry-price' : 'withdrawal-price'"
              >
                {{ item.price | currency:'BRL':'symbol-narrow':'1.2-2':'pt-BR' }}
              </span>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option
          (click)="onEditTransaction(item, slidingItem)"
          class="action-button edit-button"
        >
          <ion-icon
            class="action-icon"
            name="create"
          ></ion-icon>
        </ion-item-option>
        <ion-item-option
          (click)="onDeleteTransaction(item)"
          class="action-button delete-button"
        >
          <ion-icon
            class="action-icon"
            name="trash"
          ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ng-container>
</ion-list>
