.balance-card {
  width: 92%;
  margin: 18px auto;
  padding: 4px 10px;
  --background: #FFF;
  box-shadow: none;

  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .balance-icon {
    color: #19af58;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 100%;
    background: #cdffc7;
  }

  .secondary-card-header {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .withdrawal-card-header {
    justify-content: flex-end;
  }

  .entry-icon {
    color: #19af58;
    transform: rotate(45deg);
  }

  .withdrawal-icon {
    color: #ff0045;
    transform: rotate(135deg);
  }

  .secondary-icon {
    font-size: 1.1rem;
  }

  .balance-title {
    color: #000;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .positive-value {
    color: #2ecc71;
  }

  .negative-value {
    color: #e90d0d;
  }

  .balance-value {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 4px;
  }

  .column-style {
    display: flex;
    flex-direction: column;
  }

  .month-withdrawals-col {
    text-align: end;
  }

  .transactions-info {
    .transaction-title {
      color: #000;
      font-size: 1.1rem;
      font-weight: 500;
    }

    .transaction-value {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}
